<main class="listar-container" ng-init="obtenerCursadasAlumno(alumnoLog)">
        <div class="nav-wrapper">
            <form>
                <div class="row">
                  <div class="input-field col s8 m4">
                    <input id="search" type="search" required ng-model="buscar">
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                  </div>
                </div>
            </form>
          </div>
    
          <table>
            <thead>
              <tr>
                  <th>
                      <a ng-click="revertirOrden(); sortType = 'anio'">
                        Año
                        <span ng-show="sortType == 'anio' && sortReverse == true" class="fa fa-caret-down"><i class="tiny material-icons">arrow_drop_up</i></span>
                        <span ng-show="sortType == 'anio' && sortReverse == false" class="fa fa-caret-down"><i class="tiny material-icons">arrow_drop_down</i></span>
                      </a>
                    </th>
                    <th>
                      <a ng-click="revertirOrden(); sortType = 'cuatrimestre'">
                        Cuatrimestre
                        <span ng-show="sortType == 'cuatrimestre' && sortReverse == true" class="fa fa-caret-down"><i class="tiny material-icons">arrow_drop_up</i></span>
                        <span ng-show="sortType == 'cuatrimestre' && sortReverse == false" class="fa fa-caret-down"><i class="tiny material-icons">arrow_drop_down</i></span>
                      </a>
                    </th>
                    <th>
                      <a ng-click="revertirOrden(); sortType = 'nombreMateria'">
                        Materia
                        <span ng-show="sortType == 'nombreMateria' && sortReverse == true" class="fa fa-caret-down"><i class="tiny material-icons">arrow_drop_up</i></span>
                        <span ng-show="sortType == 'nombreMateria' && sortReverse == false" class="fa fa-caret-down"><i class="tiny material-icons">arrow_drop_down</i></span>
                      </a>  
                    </th>
                    <th>
                      <a ng-click="revertirOrden(); sortType = 'estado'">
                        Estado
                        <span ng-show="sortType == 'estado' && sortReverse == true" class="fa fa-caret-down"><i class="tiny material-icons">arrow_drop_up</i></span>
                        <span ng-show="sortType == 'estado' && sortReverse == false" class="fa fa-caret-down"><i class="tiny material-icons">arrow_drop_down</i></span>
                      </a>  
                    </th>
                  <th>Opciones</th>
              </tr>
            </thead>
    
            <tbody>
              <tr ng-repeat="cursada in cursadas | orderBy:sortType:sortReverse | filter: buscar">
                <td>{{cursada.comision.anio}}</td>
                <td>{{cursada.comision.cuatrimestre}}</td>
                <td>{{cursada.comision.nombreMateria}}</td>
                <td>{{cursada.estado}}</td>
                <td><a title="Ver Examenes" href="#/alumno-examenes-listar/{{cursada.id}}"><i class="listar-iconos material-icons">find_in_page</i></a></td>
              </tr>
            </tbody>
          </table>
    </main>
    
    <style>
        .listar-container{
          margin: 0 auto;
          width: 80% !important;
        }
        .elemento-lista{
          display: flex;
          justify-content: space-between;
        }
        .listar-iconos{
          margin-top: 10px;
          padding: 5px;
        }
        .btn-agregar{
          margin-top: 20px;
          margin-left: 20px;
        }
        .btn-volver{
          margin-top: 20px;
        }
        @media screen and (max-width:800px){
          .listar-container{
            width:100% !important;
          }
        }
      </style>