<main class="container">
  <div class="row row-margin-top">
    <div class="col s12">
      <a href="#/elementos-menu" class="btn-flat"><i class="material-icons left">keyboard_arrow_left</i>Volver al listado</a>
    </div>
  </div>
  <h2 class="title">Agregar <strong>elemento del menú</strong></h2>
  <div class="row row-white-background">
    <form class="col s7">
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Ingrese el nombre del elemento del menú" id="nombre_elemento" type="text" class="validate">
          <label for="nombre_elemento" class="active">Nombre</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <select>
            <option value="" disabled selected>Elija una categoría del menú</option>
            <option value="1">Pizzas</option>
            <option value="2">Pastas</option>
            <option value="3">Hamburguesas</option>
            <option value="4">Panchos</option>
          </select>
          <label>Categoría</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Ingrese el precio del elemento del menú" id="precio_elemento" type="text" class="validate">
          <label for="precio_elemento" class="active">Precio unitario</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Ingrese la descripción del elemento del menú" id="descripcion_elemento" type="text" class="validate">
          <label for="descripcion_elemento" class="active">Descripción</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <select>
            <option value="" disabled selected>Elija un aderezo</option>
            <option value="1">Salsas</option>
            <option value="2">Quesos</option>
            <option value="3">Tucos</option>
          </select>
          <label>Aderezo 1</label>
        </div>
        <div class="input-field col s2">
          <input id="costo_aderezo_1" type="text" placeholder="5,00" class="validate">
          <label for="costo_aderezo_1" class="active">Costo</label>
        </div>
        <div class="col s4">
          <input type="checkbox" class="filled-in checkbox_aderezo" id="por_defecto_aderezo_1" />
          <label for="por_defecto_aderezo_1">Por defecto</label>
        </div>
        <div class="col s12 center-align boton_agregar_aderezo">
          <a class="waves-effect waves-light btn-flat"><i class="material-icons left">add_box</i>Agregar otro aderezo</a>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <input type="checkbox" class="filled-in" id="disponibilidad_elemento" checked="checked" />
          <label for="disponibilidad_elemento">Mostrar en el menú</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <a class="waves-effect waves-light btn"><i class="material-icons left">save</i>Guardar</a>
        </div>
      </div>
    </form>
  </div>
</main>

<script>
  $(document).ready(function () {
    $('select').material_select();

    let cantidad_aderezos = 1;

    $('.boton_agregar_aderezo').on('click', function () {
      cantidad_aderezos++;
      $(`
        <div class="input-field col s6">
          <select>
            <option value="" disabled selected>Elija un aderezo</option>
            <option value="1">Salsas</option>
            <option value="2">Quesos</option>
            <option value="3">Tucos</option>
          </select>
          <label>Aderezo ${cantidad_aderezos}</label>
        </div>
        <div class="input-field col s2">
          <input id="costo_aderezo_${cantidad_aderezos}" type="text" placeholder="5,00" class="validate">
          <label for="costo_aderezo_${cantidad_aderezos}" class="active">Costo</label>
        </div>
        <div class="col s4">
          <input type="checkbox" class="filled-in checkbox_aderezo" id="por_defecto_aderezo_${cantidad_aderezos}" />
          <label for="por_defecto_aderezo_${cantidad_aderezos}">Por defecto</label>
        </div>
      `).insertBefore(this);
      $('select').material_select();
    })
  })
</script>