<main class="container">
  <div class="row row-margin-top">
    <div class="col s12">
      <a class="waves-effect waves-light btn" href="#/elementos-menu/agregar">
        <i class="material-icons left">add_circle</i>Nuevo elemento del menú
      </a>
    </div>
  </div>
  <h2 class="title">Listado de <strong>elementos del menú</strong></h2>
  <div class="row row-white-background">
    <table class="striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Categoría</th>
          <th>Precio unitario</th>
          <th>Descripción</th>
          <th>Disponibilidad</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Ñoquis</td>
          <td>Pastas</td>
          <td>$59,00</td>
          <td>Los ñoquis más ricos del mundo.</td>
          <td class="red-text text-darken-4"><i class="material-icons table-icon">highlight_off</i> No</td>
          <td class="table-item-actions">
            <a href="#"><i class="material-icons table-icon">mode_edit</i> Modificar</a>
            <a ng-click="openModal('#modal1')"><i class="material-icons table-icon">delete</i> Eliminar</a>
          </td>
        </tr>
        <tr>
          <td>Elemento 2</td>
          <td>Categoría 1</td>
          <td>$112,00</td>
          <td>Descripción no muy larga.</td>
          <td class="green-text text-darken-4"><i class="material-icons table-icon">check_circle</i> Sí</td>
          <td class="table-item-actions">
            <a href="#"><i class="material-icons table-icon">mode_edit</i> Modificar</a>
            <a ng-click="openModal('#modal1')"><i class="material-icons table-icon">delete</i> Eliminar</a>
          </td>
        </tr>
        <tr>
          <td>Elemento 3</td>
          <td>Categoría 2</td>
          <td>$12,50</td>
          <td>Descripción que pretende ser excesivamente larga para probar cómo se rompe todo.</td>
          <td class="green-text text-darken-4"><i class="material-icons table-icon">check_circle</i> Sí</td>
          <td class="table-item-actions">
            <a href="#"><i class="material-icons table-icon">mode_edit</i> Modificar</a>
            <a ng-click="openModal('#modal1')"><i class="material-icons table-icon">delete</i> Eliminar</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>


<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Eliminar elemento del menú <strong>[nombre]</strong></h4>
    <p>¿Está seguro que desea eliminar este elemento del menú?</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">No, conservar</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Sí, eliminar</a>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('.modal').modal();
  })
</script>