<main class="container">
        <a href="#/archivo-listar/{{idMateria}}" class="btn btn-agregar">Volver</a>

        <h2 ng-show="!isAdding">Agregar <strong>archivo</strong></h2>
        <h2 ng-show="isAdding">Modificar <strong>archivo</strong></h2>
    
        <div class="row">
            <form id="formArchivo" name="formArchivo" class="col s12" ng-submit="agregarArchivo(archivo)">
                <div class="row">
                    <div class="input-field col s12 m6">
                        <input class="elementos" id="titulo" name="titulo" type="text" class="" ng-model="archivo.titulo" ng-required="true">
                        <label class="active" for="titulo">Título</label>
                        <p class="advertencia" ng-show="formArchivo.titulo.$error.required && !formArchivo.titulo.$pristine" class="help-block">El título no puede ser vacío</p>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m6">
                        <input class="elementos" id="descripcion" name="descripcion" type="text" class="" ng-model="archivo.descripcion" ng-required="true">
                        <label class="active" for="descripcion">Descripción</label>
                        <p class="advertencia" ng-show="formArchivo.descripcion.$error.required && !formArchivo.descripcion.$pristine" class="help-block">La descripción no puede ser vacío</p>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 m6">
                        <input class="elementos" id="fuente" name="fuente" type="text" class="" ng-model="archivo.fuente" ng-required="true">
                        <label class="active" for="fuente">Fuente</label>
                        <p class="advertencia" ng-show="formArchivo.fuente.$error.required && !formArchivo.fuente.$pristine" class="help-block">La fuente no puede ser vacía</p>
                    </div>
                </div>
                  <div class="row">
                   <label for="">Seleccione el tipo de fuente</label>
                         <div class="switch">
                            <label>
                            Link
                            <input type="checkbox" ng-model="fuenteArchivo">
                            <span class="lever"></span>
                            Archivo
                            </label>
                        </div>
                 </div>
                <div class="row"  >
                    <div class="input-field col s12 m6"style="height:50px;" ng-show="fuenteArchivo">                       
                        <input class="elementos" id="ruta" name="ruta" type="file" class="" ng-model="archivo.ruta" ng-required="true">
                        <p class="advertencia" ng-show="formArchivo.ruta.$error.required && !formArchivo.ruta.$pristine" class="help-block">Debe seleccionar un documento</p>
                    </div>
                    <div class="input-field col s12 m6"  ng-show="!fuenteArchivo">
                        <input class="elementos" id="link" name="link" type="text" class="" ng-model="archivo.ruta" ng-required="true">
                        <label class="active" for="ruta">Ingrese el link</label>
                        <p class="advertencia" ng-show="formArchivo.ruta.$error.required && !formArchivo.ruta.$pristine" class="help-block">El link no puede ser vacío</p>
                    </div>
                </div>

                
                <input type="submit" class="btn" value="Agregar" ng-show="!isAdding" ng-disabled="formArchivo.$invalid">
                <input type="submit" class="btn" value="Modificar" ng-show="isAdding" ng-disabled="formArchivo.$invalid">
            </form>
        </div>
    </main>
    
    <script>
        $('select').material_select();
    </script>

    <style>
       
        .selects{
            padding: 0 !important;
        }
    
        .advertencia{
            margin: 0;
            font-size: 12px;
            color: #EA2E49;
        }
        .btn-agregar{
            margin-top: 20px;
            margin-left: 20px;
        }
        .elementos{
            margin: 0 !important;
        }
    </style>