<main class="listar-container">

        <a href="#/examenes-agregar" class="btn btn-agregar">Agregar examen</a>

        <div class="nav-wrapper">
            <form>
              <div class="input-field">
                <input id="search" type="search" required ng-model="buscar">
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
              </div>
            </form>
          </div>
    
          <table>
            <thead>
              <tr>
                  <th>Fecha</th>
                  <th>Nota</th>
                  <th>Tipo</th>
                  <th>Descripcion</th>
                  <th>Comentario</th>
              </tr>
            </thead>
    
            <tbody>
              <tr ng-repeat="examen in examenes ">
                <td>{{examen.fecha}}</td>
                <td>{{examen.nota}}</td>
                <td>{{examen.tipo}}</td>
                <td>{{examen.descripcion}}</td>
                <td>{{examen.comentario}}</td>
                <!-- <td><a title="Ver cursada" href="#/cursada-ver/{{cursada.id}}"><i class="listar-iconos material-icons">find_in_page</i></a></td> -->
              </tr>
            </tbody>
          </table>
    </main>
    
    <style>
        .listar-container{
          margin: 0 auto;
          width: 80% !important;
        }
        .elemento-lista{
          display: flex;
          justify-content: space-between;
        }
        .listar-iconos{
          margin-top: 10px;
          padding: 5px;
        }
        .btn-agregar{
          margin-top: 20px;
          margin-left: 20px;
        }
        @media screen and (max-width:800px){
          .listar-container{
            width:100% !important;
          }
        }
      </style>