<main class="listar-container" ng-init="obtenerProfesores()">

    <a href="#/profesores-agregar" class="btn btn-agregar">Agregar profesor</a>

    <div class="nav-wrapper">
      <form>
        <div class="input-field">
          <input id="search" type="search" required ng-model="buscar">
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  
    <table>
      <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Opciones</th>
        </tr>
      </thead>
  
      <tbody>
        <tr ng-repeat="profesor in profesores"> <!--  | filter: buscar -->
          <td>{{profesor.nombre}}</td>
          <td>{{profesor.apellido}}</td>
          <td><a title="Editar" href="#/profesores-agregar/{{profesor.id}}"><i class="listar-iconos material-icons">edit</i></a></td>
        </tr>
      </tbody>
    </table>
  </main>
  
  <style>
    .listar-container{
      margin: 0 auto;
      width: 80% !important;
    }
    .elemento-lista{
      display: flex;
      justify-content: space-between;
    }
    .listar-iconos{
      margin-top: 10px;
      padding: 5px;
    }
    .btn-agregar{
        margin-top: 20px;
        margin-left: 20px;
    }
    @media screen and (max-width:800px){
      .listar-container{
        width:100% !important;
      }
    }
  </style>