<main class="container" ng-init="obtenerTutor(idTutor)">
    
    <a href="#/tutores-listar" class="btn btn-volver">Volver</a>
    <h2>Ver <strong>tutor</strong></h2>

    <div class="row">
            <div class="row">
                <div class="input-field col s6">
                    <h5>DNI: <strong>{{tutor.username}}</strong></h5>
                    <br>
                    <h5>Nombre: <strong>{{tutor.first_name}}</strong></h5>
                    <br>
                    <h5>Apellido: <strong>{{tutor.last_name}}</strong></h5>
                    <br>
                    <h5>Email: <strong>{{tutor.email}}</strong></h5>
                    <br>
                    <h5>Teléfono: <strong>{{tutor.phone}}</strong></h5>
                  
                </div>
            </div>
    </div>
</main>

<style>
    .btn-volver{
        margin-top: 20px;
    }
</style>